<div
  [ngClass]="column.class.label_container"
  *ngIf="column.class.label_after_input!==true"
>
  <label
    [attr.for]="column.key"
    [ngClass]="column.class.label"
    *ngIf="column.hasOwnProperty('label')"
    >{{column.label}}</label
  >
  <!-- <pre>{{column.class|json}}</pre> -->
</div>
<div
  [ngSwitch]="column.controlType"
  [ngClass]="column.class.group"
  [formGroup]="form"
>
  <input
    *ngSwitchCase="controlType.input"
    [name]="column.key"
    [id]="column.key"
    [type]="column.type"
    [readonly]="column.readonly"
    [value]="column.value"
    [placeholder]="column.placeholder"
    [ngClass]="column.class[column.controlType]"
    [formControlName]="column.key"
  />
  <button
    *ngSwitchCase="controlType.button"
    [name]="column.key"
    [id]="column.key"
    [type]="column.type"
    [value]="column.value"
    [ngClass]="column.class[column.controlType]"
  >
    {{column.value}}
  </button>
  <select
    id="column.key"
    *ngSwitchCase="controlType.dropdown"
    [name]="column.key"
    [ngClass]="column.class[column.controlType]"
    [formControlName]="column.key"
  >
    <option *ngFor="let opt of column.options" [value]="opt.value"
      >{{opt.display}}</option
    >
  </select>
  <div
    *ngSwitchCase="controlType.caption"
    [ngClass]="column.class[column.controlType]"
  >
    {{column.value}}
  </div>
  <div
    *ngSwitchCase="controlType.radio"
    [ngClass]="column.class[column.controlType]"
  >
    <div class="form-check" *ngFor="let opt of column.options">
      <input
        class="form-check-input"
        type="radio"
        [name]="column.key"
        [value]="opt.value"
        [id]="opt.value"
        [checked]="opt.value==column.value"
        [formControlName]="column.key"
      />
      <label [for]="opt.value" class="form-check-label">{{opt.display}}</label>
    </div>
  </div>
</div>
<div
  [ngClass]="column.class.label_container"
  *ngIf="column.class.label_after_input===true"
>
  <label
    [attr.for]="column.key"
    [ngClass]="column.class.label"
    *ngIf="column.hasOwnProperty('label')"
    >{{column.label}}</label
  >
</div>
